* {
	font-family: Helvetica;
	font-weight: normal;
}

a > * {
	color: #0077c5;
}
body {
	background-color: #eceef1;
	color: #4c4c4c;
	margin: 0;
	text-align: center;
}

.form_box {
	border: 1px solid #c7c7c7;
	background-color: white;
}

.form_box h5 {
	margin-bottom: 0;
}

.form_box a {
	font-size: 12px;
}

form {
	text-align: left;
}

input {
	width: 100%;
	box-sizing: border-box;
	border-radius: 4px;
	height: 30px;
	border: 1px solid #c1c5c8;
}

label {
	font-size: 15px;
}

.csubmit {
	height: 35px;
}

fieldset {
	border: 0;
}
fieldset p {
	font-size: 10px;
	margin-top: 0;
}

nav {
	height: 60px;
	padding-right: 30px;
	padding-top: 5px;
}

nav h5 {
	margin-top: 5px;
}

.nav_box {
	float: right;
	display: flex;
}

.nav_box button {
	height: 34px;
	width: 80px;
	border: 1px solid;
	margin-top: 1px;
	margin-left: 10px;
}

.center {
	margin: auto;
	padding: 30px;
}

.bluebuttons {
	color: white;
	background-color: #0077c5;
	border-style: none;
	border-radius: 4px;
}

.picture1 {
	width: 118px;
	height: 35px;
	object-fit: none;
	object-position: 0px 0px;
	display: block;
	margin: auto;
	padding-bottom: 15px;
}

.picture2 {
	width: 320px;
	height: 50px;
	object-fit: none;
	object-position: 0px -50px;
	display: block;
	margin: auto;
}

article h5 {
	font-size: 13px;
	font-style: italic;
}

section {
	width: 380px;
	padding: 30px;
}

.bluetext {
	text-decoration: none;
}

.links a {
	text-decoration: none;
	font-size: 12px;

	padding-right: 10px;
}

.item1:hover {
	text-decoration: underline;
}

footer > p {
	font-size: 12px;
	line-height: 2;
}

.picture1 {
	width: 118px;
	height: 35px;
	object-fit: none;
	object-position: 0px 0px;
	display: block;
	margin: auto;
	padding-bottom: 15px;
}

.picture2 {
	width: 25px;
	height: 40px;
	object-fit: none;
	object-position: -115px -50px;
}

.picture3 {
	width: 25px;
	height: 40px;
	object-fit: none;
	object-position: 0px -50px;
}
.picture4 {
	width: 25px;
	height: 40px;
	object-fit: none;
	object-position: -252px -50px;
}

.pictures_box {
	display: flex;
	margin-left: 10px;
}

.pictures_box h1 {
	margin-top: 5px;
	padding-right: 5px;
	padding-left: 1px;
	color: gray;
}
